@using System.Reflection
@using CrazyBooks_Models.Models
@using CrazyBooks_Models.ViewModels
@model BooksDisplayVM
@{
ViewData["Title"] = "@Model.GeneralViewInfos.PageTitle";
}

<div class="row justify-content-center view-display">
    <div class="col-8">
        <div class="h1 text-primary mb-4">@Model.GeneralViewInfos.PageHeading</div>
        <div class="hstack gap-4 mb-2 page-actions">
            @foreach (PageLinkInfos pli in Model.GeneralViewInfos.Links)
            {
                @if (pli.UsesId)
                {
                    ViewData["Id"] = Model.Id;
                    <partial name="_PageLinkWithId" model="pli" view-data="ViewData" />
                }
                else
                {
                    <partial name="_PageLink" model="pli" />
                }
            }
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Book.Title" readonly class="form-control" id="Title" placeholder="@Html.DisplayNameFor(model => model.Book.Title)" />
            <script>var ta = document.querySelector('#Title'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="Title" asp-for="Book.Title"></label>
            <span asp-validation-for="Book.Title" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Book.ISBN" readonly class="form-control" id="ISBN" placeholder="@Html.DisplayNameFor(model => model.Book.ISBN)" />
            <script>var ta = document.querySelector('#ISBN'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="ISBN" asp-for="Book.ISBN"></label>
            <span asp-validation-for="Book.ISBN" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Book.Price" readonly class="form-control" id="Price" placeholder="@Html.DisplayNameFor(model => model.Book.Price)" />
            <script>var ta = document.querySelector('#Price'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="Price" asp-for="Book.Price"></label>
            <span asp-validation-for="Book.Price" class="text-danger"></span>
        </div>
        <div class="form-check mb-3">
            <input asp-for="Book.Promo" readonly class="form-check-input" id="Promo" />
            <label for="Promo" class="form-check-label" asp-for="Book.Promo"></label>
        </div>
        <div class="form-check mb-3">
            <input asp-for="Book.Available" readonly class="form-check-input" id="Available" />
            <label for="Available" class="form-check-label" asp-for="Book.Available"></label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Book.Resume" readonly class="form-control" id="Resume" placeholder="@Html.DisplayNameFor(model => model.Book.Resume)" />
            <script>var ta = document.querySelector('#Resume'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="Resume" asp-for="Book.Resume"></label>
            <span asp-validation-for="Book.Resume" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Book.PublishedDate" readonly class="form-control" id="PublishedDate" placeholder="@Html.DisplayNameFor(model => model.Book.PublishedDate)" />
            <script>var ta = document.querySelector('#PublishedDate'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="PublishedDate" asp-for="Book.PublishedDate"></label>
            <span asp-validation-for="Book.PublishedDate" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Book.Subject" readonly class="form-control" id="Subject" placeholder="@Html.DisplayNameFor(model => model.Book.Subject)" />
            <script>var ta = document.querySelector('#Subject'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="Subject" asp-for="Book.Subject"></label>
            <span asp-validation-for="Book.Subject" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Book.Publisher" readonly class="form-control" id="Publisher" placeholder="@Html.DisplayNameFor(model => model.Book.Publisher)" />
            <script>var ta = document.querySelector('#Publisher'); ta.style.height = ta.scrollHeight + 2 + 'px';</script>
            <label for="Publisher" asp-for="Book.Publisher"></label>
            <span asp-validation-for="Book.Publisher" class="text-danger"></span>
        </div>
        @if (!Model.IsDetails)
        {
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Book.Id" />
            <div class="text-center">
                <button type="submit" class="btn btn-primary">@Model.GeneralViewInfos.SubmitButtonText</button>
            </div>
        </form>
        }
    </div>
</div>
@section Scripts {
}
