@model CrazyBooks_Models.Models.Publisher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Publisher</h4>
    <hr />
<div class="hstack gap-4 mb-2 page-actions">
    <div class="h1 page-action"><a asp-action="Index"><i class="bi bi-arrow-up-left-circle-fill" title="Retour à la liste"></i></a></div>
    <div class="h1 page-action"><a asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-fill" title="Modifier"></i></a></div>
</div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speciality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublisherSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublisherSite)
        </dd>
    </dl>
</div>
<div>
</div>
